.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.875rem;
  font-weight: bolder;
  color: grey;
  text-align: center;
  margin: 1.875rem;
}

.link__footer {
  font-weight: bold;
  color: rgb(242, 61, 92);
}
