.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.125rem black solid;

  &__logo {
    width: 18.75rem;
    margin-bottom: 0.625rem;
  }

  &__title {
    font-size: 6.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #320510;
  }
}
