.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  width: 90%;
  height: 95%;
  background-color: white;
  margin: 10px auto;
  overflow: hidden;
  padding: 15px;
  box-shadow: 8px 8px 10px #0a0a0a;
  transition: 0.3s all ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  &__title {
    text-transform: uppercase;
    color: rgb(237, 43, 104);
  }
  &__year {
    color: rgb(73, 172, 225);
  }
  &__subtitle {
    color: rgb(131, 139, 143);
  }

  &:hover {
    margin-top: -10px;
    cursor: pointer;
  }
}
