.movieScene {
  &__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: white;
    border-radius: 1.125rem;
    box-shadow: 0.313rem 0.313rem 1rem rgba(236, 229, 229, 0.9);
    cursor: pointer;
    overflow: hidden;
    width: 80%;
    margin: 6rem auto;
  }

  &__poster {
    width: 25rem;
  }

  &__details {
    padding: 0.5rem 3rem 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5rem;
    width: 100%;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__director {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  &__quote {
    font-size: 3rem;
    font-style: italic;
    margin-inline: 0;

    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }

  &__navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__linkHome {
    font-size: 1.25rem;
    padding: 10px 0;
    color: rgb(121, 112, 112);
  }

  &__cta {
    background-color: rgb(86, 80, 101);
    padding: 1.5rem 2rem;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
    &:hover {
      background-color: rgb(73, 100, 155);
    }
  }

  &__linkAudio {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}
