.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  width: 90%;
  height: 95%;
  background-color: white;
  margin: 0.625rem auto;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 0.625rem #9f9a9a;
  transition: 0.3s all ease-in-out;
  font-size: 1.25rem;
  font-weight: bold;
  &__title {
    text-transform: uppercase;
    color: rgb(76, 75, 75);
  }
  &__year {
    color: rgb(76, 75, 75);
  }
  &__subtitle {
    font-style: italic;
    font-weight: lighter;
    color: rgb(96, 93, 93);
  }

  &:hover {
    margin-top: -0.625rem;
    cursor: pointer;
  }
}
