.movieScene__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  border-radius: 1.125rem;
  box-shadow: 0.313rem 0.313rem 1rem rgba(236, 229, 229, 0.9);
  cursor: pointer;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.movieScene {
  &__poster {
    width: 25rem;
  }

  &__details {
    padding: 0.5rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__director {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  &__quote {
    font-size: 3rem;
    font-style: italic;
    margin-inline: 0;

    &:before {
      content: '“';
    }

    &:after {
      content: '”';
    }
  }

  &__navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__linkHome {
    font-size: 1.25rem;
    padding: 10px 0;
    color: rgb(121, 112, 112);
  }
}
.btn__linkAudio {
  background-color: rgb(73, 100, 155);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 15px;
  &:hover {
    background-color: rgb(86, 80, 101);
    color: white;
  }
}
