.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6.25rem;
  border-radius: 1.125rem;
  border: 0.1875rem solid #545656;
  box-shadow: 0.313rem 0.313rem 1rem rgba(0, 0, 0, 0.9);
  width: 100vh;
  cursor: pointer;
}

.poster {
  width: 12.5rem;
  border-radius: 1rem;
  margin: 1.875rem;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: rgb(204, 44, 105);
}

.link {
  margin: 1.875rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(82, 78, 78);
}

.button__back {
  background-color: rgb(204, 44, 105);
  margin: 10px;
  text-decoration: none;
  color: rgb(55, 53, 54);
  border-radius: 0.625rem;

  &:hover {
    background-color: rgb(237, 162, 193);
    color: rgb(71, 68, 66);
    cursor: pointer;
  }
}
